@import "fonts";
@import "vars";
@import "global";



// start header 
.header {
    position: relative;
    z-index: 200;
    &__inner{
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        background-color: #fff;
    }
    &__phone{
        font-size: 22px;
        line-height: 26px;
        margin-right: 78px;
        @include muller-medium;
        display: inline-block;
    }

    .burger__btn{
        width: 39px;
        height: 23px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        span{
            width: 100%;
            height: 3px;
            background-color: $dark;
            display: inline-block;
            margin-bottom: 2px;
            transition: opacity 0.3s, transform 0.5s;
        }
        &::before,
        &::after{
            content: '';
            position: absolute;
            width: 39px;
            height: 3px;
            background-color: $dark;
            left: 0;
            transition: all 0.3s ease-in-out;
        }
        &::before{
            top: 0;
        }
        &::after{
            bottom: 0;
        }
        &--active{
            span{
                opacity: 0;
                transform: translateX(400px);
                transition: opacity 0.3s, transform 1s;
            }
            &::before{
                transform: rotate(35deg);
                top: 10px;
                transition: all 0.5s ease-in-out;
            }
            &::after{
                transform: rotate(-35deg);
                bottom: 10px;
                transition: all 0.5s ease-in-out;
            }
        }
    }
    .menu{
        position: absolute;
        // bottom: -359px;
        bottom: auto;
        left: 0;
        width: 100%;
        background-color: #fff;
        transform: translateY(-300%);
        transition: all .5s ease-in-out;
        z-index: -1;
        &.menu--active{
            transform: translateY(0); 
            transition: all .5s ease-in-out;
            z-index: -1;
        }
        .header__phone{
            display: none;
        }
        &__btn{
            display: none;
        }
        &__inner{
            display: flex;
            // justify-content: space-between;
          
        }
        &__list{
            padding-top: 20px;
            max-width: 355px;
            padding-right: 105px;
            padding-bottom: 40px;
            &:not(:last-child){
                border-right: 1px solid #E5E5E5;
                margin-right: 100px;
            }
            span{
                @include muller-bold;
            }
        }
        &__title{
            @include muller-bold;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 32px;
        }
        &__item{
            margin-bottom: 19px;
            transition: all 0.3s;
            &:hover{
                transform: scale(1.02);
                transition: all 0.1s;
            }
        }
        .header__phone{
            display: nonei;
        }
    }

}
// end header 





// top start 
.top{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #E5E5E5;
    &__inner{
        // min-height: 826px;
        // min-height: calc(100vh - 80px);
        position: relative;
        margin-bottom: 228px;
    }
    &__title{
        padding-top: 93px;
        
        max-width: 673px;
    }
    &__subtitle{
        font-size: 24px;
        line-height: 29px;  
        margin-bottom: 61px;
        max-width: 238px; 
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: -116px;
            top: 0;
            background-image: url('../images/icons/top-arrow.svg');
            width: 92px;
            height: 106px;
        }
    }
    &__form{
        width: 286px;
        padding-bottom: 172px;
        form{
            input{
                display: block;
                width: 100%;
                margin-bottom: 10px;
                border: none;
                height: 52px;
                background: rgba(255, 255, 255, 0.42);
                mix-blend-mode: normal;
                backdrop-filter: blur(5px);
                padding: 0 10px 0 33px;
                @include muller-medium;
                font-size: 16px;
                line-height: 24px;
                &::placeholder{
                    @include muller-medium;
                    font-size: 16px;
                    line-height: 24px;
                    color: #A7A7A7;
                }
            }
            .top__btn{
                display: block;
                width: 100%;
                border: none;
                height: 55px;
                margin-bottom: 11px;
                position: relative;
                padding-left: 33px;
                text-align: left;
                cursor: pointer;
                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    background-image: url('../images/icons/phone-btn.svg');
                    width: 90px;
                    height: 46px;
                    transform: translateY(-50%);
                }
            }
        }
           
        label{
            opacity: 0.5;
            position: relative;
            float: right;
            .checkbox{
                position: absolute;
                opacity: 0;
                // top: -35px;
                height: 100%;
            }
            .fake-checkbox{
                display: inline-block;
                width: 10px;
                height: 10px;
                border: 1px solid $dark;
                position: relative;
                top: -10px;
                &::before{
                    content: '';
                    position: absolute;
                    background-image: url('../images/icons/check.svg');
                    width: 10px;
                    height: 8px;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    opacity: 0;
                }
            }
            .checkbox:checked + .fake-checkbox::before{
                opacity: 1;
            }
            span{
                text-align: right;
                max-width:  168px;
                box-sizing: border-box;
                display: inline-block;
                font-size: 13px;
                line-height: 13px;
                @include muller-italic;
            }
        }
    }
    &__line{
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -70px;
    }
    &__line-item{
        font-size: 24px;
        line-height: 29px;
        background: rgba(255, 255, 255, 0.24);
        mix-blend-mode: normal;
        backdrop-filter: blur(80px);
        width: 416px;
        padding: 51px 0;
        display: inline-block;
        text-align: center;
        
    }
    

}
// top end 






// choice start 
.choice{
    &__inner{
        margin-bottom: 100px;
    }
    &__title{
        max-width: 352px;
        margin-bottom: 30px;
    }
    &__items{
        display: flex;
        padding-bottom: 104px;
        margin-left: -18px;
        border-bottom: 1px solid #E5E5E5;

    }
    &__item{
        width: 242px;
        flex-basis: calc(20% - 18px);
        margin-left: 18px;
        // transition: all 0.3s;
        &:hover{
           transform: scale(1.01);
            transition: all 0.1s;
        }
    }
    &__item-img{
        margin-bottom: 19px;
        img{
            width: 100%;
            height: 140px;
            object-fit: cover;
            filter: drop-shadow(0px 24px 32px rgba(0, 0, 0, 0.04)), drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.04)), drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.04)), drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
        }
    }
    &__item-title{
        font-size: 18px;
    }
    &__info{
        padding-top: 97px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &__info-item{
        padding-top: 77px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 58px;
            height: 58px;
        }
        &--kitchen{
            &::before{
                background-image: url('../images/icons/kitchen.svg');
            }
        }
        &--document{
            &::before{
                background-image: url('../images/icons/document.svg');
            }
        }
        &--car{
            &::before{
                background-image: url('../images/icons/car.svg');
                background-position-y: -11px;
                width: 84px;
            }
        }
    }
    &__info-title{
        @include muller-medium;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 6px;
    }
    &__info-btn{
        font-size: 15px;
        line-height: 17px;
        border-bottom: 1px solid $dark;
        transition: all 0.3s;
        &:hover{
            border-bottom: 1px solid transparent;
            transition: all 0.2s;
        }
        &--yellow{
            height: 44px;
            padding-top: 13px;
            padding-bottom: 14px;
            width: 272px;
        }
    }
}
// schoice end 





// catalog start 
.catalog{
    background-color: #EEF0F4;
    padding-bottom: 50px;
    &__inner{
    }
    &__section{

        padding-top: 81px;
        border-bottom: 1px solid $dark;
        margin-bottom: 33px;
    }
    &__furniture{
    }
    .slider-btn{
        position: absolute;
      
        width: 100px;
        height: 40px;
        border: none;
        right: 0;
        bottom: 55px;
        padding: 15px;
        outline: none;
        cursor: pointer;
        transition: all ease-in-out .3s ;
        border: 1px solid transparent;
        &:hover{
            border: 1px solid $dark;
            filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.04)), drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.04)), drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
            transition: all ease-in-out .3s ;
        }
        &::before{
            content: '';
            position: absolute;
            width: 54px;
            height: 8px;
            top: 50%;
            left: 50%;
            background-image: url('../images/icons/arrow-slider.svg');
            transform: translateX(-50%) translateY(-50%);
        }
        &--left{
            right: 117px;
            transform: rotate(180deg);
        }
    }
}
.catalog{
    &__title{
        max-width: 200px;
        margin-bottom: 48px;
    }
    &__slider{
        padding-bottom: 140px;
        // border-bottom: 1px solid $dark;
    }
    &__item{
        max-width: 416px;
        cursor: pointer;
        &:hover{
            .catalog__item-img{
                &::before{
                    opacity: 1;
                    transition: all ease-in-out .3s ;
                }
            }
            .catalog__item-title{
                border-bottom: 2px solid $dark;
                // text-decoration: underline;
                transition: all ease-in-out .3s ;
            }
        }
        
    }
    &__item-img{
        margin-bottom: 24px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            background-image: url('../images/icons/arrow-slideritem.svg');
            width: 108px;
            height: 46px;
            background-color: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(10px);
            opacity: 0;
            transition: all ease-in-out .3s ;
        }
        img{
            width: 100%;
            height: 306px;
            object-fit: cover;
        }
    }
    &__item-title{
        font-size: 24px;
        line-height: 29px;
        @include muller;
        transition: all ease-in-out .3s ;
        // text-decoration: none;
        border-bottom: 2px solid transparent;
        display: inline-block;
    }
    &__item-subtitle{
        color: #BBBDC4;
        margin-top: 10px;
    }
}
.catalog__card{
    background-color: #fff;
}
.catalog__card-inner{
    padding: 58px 69px 54px;

}
.catalog__card-gallery{
    max-width: 746px;
}
.gallery-line{
    display: flex;     
    justify-content: space-between; 
}
.gallery__big{
    max-width: 746px;
    height: 466px;
    margin-bottom: 6px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}
.gallery__small{
    margin-right: 6px;
    width: 101px;
    height: 75px;
    cursor: pointer;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.catalog__card-btn--close{
    font-size: 12px;
    line-height: 17px;
    @include muller-medium;
    color: #192934;
    margin-bottom: 16px;
    padding-left: 25px;
    position: relative;
    cursor: pointer;
    &::before{
        content: '';
        position: absolute;
        width: 11px;
        height: 20px;
        background-image: url('../images/icons/arrowleft-card.svg');
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
.card{
    display: flex;
    justify-content: space-between;
}
.catalog__card-info{
    max-width: 350px;
}
.card__info-title{
    font-size: 36px;
    line-height: 43px;
    color: #192934;
    margin-bottom: 19px;
}
.card__info-lines{
    margin-bottom: 120px;
}
.card__info-line{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #BDBDBD;
    color: #192934;
    p{
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 15px;
        line-height: 17px;
    }
    
    .card__line-info{
        font-size: 16px;
        line-height: 20px;
    }
    .card__line-color{
        width: 17px;
        height: 17px;
        margin-left: 5px;
        margin-top: 10px;
        display: inline-block;
        &--pink{
            background-color: #FCCDC3;
        } 
        &--green{
            background-color: #62C5BF;
        } 
        &--yellow{
            background-color: $yellow;
        } 
        &--grey{
            background-color: #C4C4C4;
        } 
        &--black{
            background-color: $dark;
        } 
    }
}
.card__info-phone{
    margin-bottom: 39px;
    p{
        font-size: 15px;
        line-height: 17px;  
        color: #192934;  
        margin-bottom: 5px;  
    }
    a{
        font-size: 24px;
        line-height: 29px;
    }
}
.card__info-form{
    p{
        font-size: 15px;
        line-height: 17px;
        max-width: 269px;
    }
    form{
        width: 100%;
        input{
            display: block;
            width: 100%;
            border: 1px solid #E5E5E5;
            padding-left: 77px;
            height: 47px;
            margin-bottom: 14px;
            color: #192934;
            &::placeholder{
                color: #192934;
            }
        }
        button{
            display: block;
            border: none;
            width: 100%;
            height: 46px;
            cursor: pointer;
        }
    }
}
// .catalog end 









// special start 
.special{
    background-color: $yellow;
    &__inner{
        padding: 105px 0;
        display: flex;
        justify-content: space-between;
    }
    .catalog__card-gallery{
        max-width: 583px;
    }
    &__info{
        max-width: 544px;
        margin-left: 15px;
    }
    &__info-title{
        margin-bottom: 58px;
    }
    &__info-list{
        counter-reset: number;
       
    }
    &__info-item{
        margin-bottom: 48px;
        position: relative;
        padding-left: 58px;
        &::before{
            content: '' counter(number);
            position: absolute;
            counter-increment: number;
            top: 50%;
            left: 0;
            font-size: 36px;
            line-height: 43px;
            transform: translateY(-50%);
        }
        &:nth-child(n+6)::before{
            content: counter(number);
        }
        &:not(:last-child)::after{
            content: '';
            position: absolute;
            bottom: -25px;
            left: 4px;
            width: 12px;
            height: 7px;
            opacity: 0.25;
            background-image: url('../images/icons/arrow-down.svg');
        }
    }
    &__btn{
        padding: 17px 122px;
        background-color: #fff;
        &:hover{
            background-color: #fff;  
        }
    }
}
// special end 





// info start 
.info{
    background-color: #EEF0F4;
    &__inner{
        padding-bottom: 117px;
        padding-top: 134px;
        
    }
    &__items{
        display: flex;
        margin-left: -17px;
        flex-wrap: wrap;
    }
    &__item{
        background-color: #fff;
        padding: 61px 49px 27px 49px;

        &.info__item--small{
            flex-basis: calc(50% - 17px);
            margin-left: 17px;
            margin-bottom: 62px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 49px;
                transform: translateY(-50%);
            }
            &.info__item--car{
                &::before{
                    background-image: url('../images/icons/car.svg');
                    width: 84px;
                    height: 82px;
                }
            }
            &.info__item--document{
                &::before{
                    background-image: url('../images/icons/document.svg');
                    width: 58px;
                    height: 57px;
                }
            }
            a{
                color: #EDAD3B;
                border-bottom: 1px solid #EDAD3B;
                transition: all 0.3s;
                &:hover{
                    border-bottom: 1px solid transparent;
                    transition: all 0.1s;
                }
            }
            p{
                margin-top: 7px;
            }
        }
        &.info__item--large{
            flex-basis: 100% ;
            margin-left: 17px;
            display: flex;
            margin-bottom: 105px;
            // justify-content: space-between;
        }
        
        
    }
    &__place{
        max-width: 533px;
        margin-right: 116px;
    }
    &__place-title{
        margin-bottom: 28px;
    }
    &__place-adress{
        text-decoration: underline;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 10px;
        transition: all 0.3s;
        &:hover{
            text-decoration-color: transparent;
            transition: all 0.2s;
        }
    }
    &__place-img{
        max-width: 533px;
        img{
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    &__workinghour{
        
    }
    &__workinghours-title {
        margin-bottom: 28px;

    }
    &__workinghours-time{
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 28px;
        span{
            display: block;
            @include muller-bold;
            text-transform: uppercase;
        }
    }
    &__social{
        padding-left: 83px;
        max-width: 212px;
        margin-top: 100px;
        position: relative;
        bottom: 0;
        &:hover{
            &::before{
                transform: translateY(-50%) scale(1.1);
                transition: all 0.2s;
            }
        }
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 60px;
            height: 60px;
            background-image: url('../images/icons/inst.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-color: $yellow;
            border-radius: 50%;
            transition: all 0.3s;
        }
    }
    &__brands{
        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            max-width: 488px;
            font-size: 24px;
            line-height: 24px;
            margin: 0;
        }
    }
    &__brands-img{
        display: flex;
    }
    &__brand{
        display: inline-block;
        margin-left: 30px;
    }
}
// info end 




// request start 
.request{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &__inner{
        padding-top: 77px;    
        min-height: 1054px;
        margin-bottom: 100px;
    }
    &__form-inner{
        padding: 62px 110px;
        background: rgba(255, 255, 255, 0.24);
        mix-blend-mode: normal;
        backdrop-filter: blur(40px);
        
    }
    &__form-title{
        font-size: 36px;
        line-height: 43px;
        
    }
    &__form{
        max-width: 632px;
        margin: 0 auto;
        form{
            width: 100%;
            input{
                display: block;
                width: 100%;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $dark;
                outline: none;
                padding-bottom: 3px;
                margin-bottom: 15px;
            }
            button{
                border: none;
                width: 100%;
                padding: 17px 120px ;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 18px;
                cursor: pointer;
            }
            label{
                position: relative;
                .checkbox{
                    position: absolute;
                    opacity: 0;
                    height: 100%;
                }
                .fake-checkbox{
                    position: relative;
                    width: 10px;
                    height: 10px;
                    border: 1px solid $dark;
                    display: inline-block;
                    &::before{
                        content: '';
                        position: absolute;
                        top: -4px;
                        left: -2px;
                        // transform: translateX(-50%) translateY(-50%);
                        background-image: url('../images/icons/check-white.svg');
                        width: 16px;
                        height: 12px;
                        background-position: center center;
                        background-size: cover;
                        opacity: 0;
                    }
                }
                .checkbox:checked + .fake-checkbox::before{
                    opacity: 1;
                }
                span{
                    font-size: 13px;
                    line-height: 13px;
                    color: $dark;
                }
            }
        }
    }
   
    
}
// request end


// footer start 
.footer{
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    &__wrapper{
        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(30px); 
    }
    &__inner{
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
    &__contact{
        a{
            display: block;
            margin-bottom: 16px;
            border-bottom: 2px solid transparent;
            transition: all 0.3s;
            &:hover{
                border-bottom: 2px solid $dark;
                transition: all 0.2s;
            }
        }
    }
    &__list{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__list-item{
        border-bottom: 2px solid transparent;
        transition: all 0.3s;
        &:hover{
            border-bottom: 2px solid $dark;
            transition: all 0.2s;
        }
    }
}

// footer end 


@import 'media';